<a href="/">
  Aperçu
</a>
<h1><%= course.fields.title  %></h1>
<p><%= course.fields.curator.fields.name  %></p>
<p><%= course.fields.timeToComplete  %> hours</p>
<p>$ <%= course.fields.minCost  %> — <%= course.fields.maxCost  %></p>
<p><%= course.fields.intro  %></p>